nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  margin: 0 auto;
  padding: 10px 20px !important;
  background-color: rgb(9, 9, 82);
}

.nav-container {
  padding: 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #ffffff2b;
  border-radius: 20px;
}
#navbar {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  color: white !important;
  @media (max-width: 700px) {
    font-size: 1.25rem;
    line-height: 1.75rem;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 100;
    background-color: rgba(13, 13, 116, 0.796);
  }
}
.navlink {
  border-color: transparent;
  border-bottom-width: 1.5px;
  &:hover {
    color: aqua !important;
    border-bottom: 1px solid aqua;
  }
}

.cart {
  &:hover {
    color: green;
  }
}
.login {
  cursor: pointer;
  &:hover {
    color: red;
  }
}
